django
djangorestframework
psycopg2-binary
python-dotenv

djangorestframework-simplejwt

# --- API Features & Documentation ---
# For advanced filtering capabilities
django-filter
# For generating OpenAPI/Swagger documentation
drf-spectacular

# --- Caching & Performance ---
# Django cache backend for Redis
django-redis
# The Python client for Redis
redis
# Provides helpful DRF add-ons, including the CacheResponseMixin
drf-extensions

Faker

gunicorn
whitenoise==6.7.0
ruff